.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--color-dark-10);
  padding: 1.8rem;
  border-radius: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease;

  > *:not(:last-child) {
    margin-right: 1.2rem;
  }

  &.icon-left {
    > *:not(:last-child) {
      margin-right: 0;
    }

    > *:not(:first-child) {
      margin-left: 1.2rem;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }

  &.big {
    padding: 2rem;

    .text {
      font-size: 16px;
    }

    .icon {
      width: 2rem;
      height: 2rem;
    }
  }

  &.lead {
    background-color: var(--color-blue);
    color: white;

    &:hover {
      background-color: var(--color-blue-dark);
    }
  }

  &.brief {
    &:hover {
      .text {
        transform: scaleX(1);
        opacity: 1;
        width: unset;
        height: unset;
        margin-right: 1.2rem;
      }
    }

    .text {
      opacity: 0;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.5s ease;
      width: 0;
      height: 0;
      margin-right: 0;
    }
  }

  &:hover {
    background-color: var(--color-dark-25);
  }

  .text {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 12px;
  }

  .icon {
    width: 1.8rem;
    height: 1.8rem;
    color: inherit;
  }
}
