@import "../../mixins";

header {
  display: flex;
  flex-direction: column;

  .heading {
    display: flex;
    align-items: center;

    h1 {
      font-family: "Inter";
      font-weight: 700;
      font-size: 64px;
    }

    .hand {
      margin-left: 2.2rem;
      height: 6.4rem;
    }
  }

  h2 {
    margin-top: 2.2rem;
    color: var(--color-dark-85);

    font-family: "Roboto";
    font-weight: 400;
    font-size: 24px;
  }

  h3 {
    margin-top: 4.4rem;
    color: var(--color-blue);

    font-family: "Roboto";
    font-weight: 500;
    font-size: 18px;
  }
}

.actions {
  display: grid;
  grid-auto-flow: row;
  gap: 3.2rem;
  max-width: 70%;
  margin-top: 6.2rem;

  @include at-least(tablet) {
    max-width: unset;
  }

  .action {
    display: flex;
    background-color: var(--color-dark-10);
    align-items: center;
    justify-content: center;
    padding: 1.8rem;
    border-radius: 0.8rem;

    .icon {
      background-color: var(--color-blue);
      color: white;
      width: 8.2rem;
      height: 8.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.8rem;
      border-radius: 0.8rem;
    }

    .description {
      flex: 1;
      margin-left: 2.2rem;

      h1 {
        font-family: "Roboto";
        font-weight: 700;
        font-size: 18px;
      }

      p {
        font-family: "Roboto";
        font-size: 18px;
        margin-top: 0.6rem;
      }
    }
  }
}
